$border: 1px solid #ccc;
$radius: 4px;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$primary: #B02418;
$secondary: #B4ACAC;

.sc_itc {
  * {
    font-family: "Archivo";
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    box-sizing: border-box;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }

  &_container {
    // max-width: 57rem;
    max-width: 60rem;
    margin: 4rem auto;
    box-shadow: $shadow;

    @media (min-width: 32rem) {
      width: 76%;
    }

    @media (min-width: 56rem) {
      width: 86%;
    }
  }

  &_layout {
    display: flex;

    > * {
      padding: 1rem;

      @media (max-width: 32rem) {
        padding: 1rem 0.5rem;
      }
    }

    @media (max-width: 56rem) {
      flex-wrap: wrap;
    }
  }

  .error {
    font-size: 12px;
    color: red;
    margin-top: 0.5rem;
  }

  button[type="submit"] {
    background: #e3000f;
    color: #FFFFFF;
    margin-top: 1rem;
    box-shadow: $shadow;
    cursor: pointer;
    padding: 0.75rem 0;
    font-weight: 500;

    &:hover {
      background-color: #B00D09;
    }
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  
  .w-full {
    width: 100%;
  }
  
  .h-full {
    height: 100%;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .rounded {
    border-radius: $radius;
  }

  .text-underline {
    text-decoration: underline;
  }

  .border {
    border: $border;
  }
  
  .border-l {
    border-left: $border;
  }
  
  .border-r {
    border-right: $border;
  }

  .border-b {
    border-bottom: $border;
  }
  
  .outline-none {
    outline: none; 
  }
  
  .text-2xs {
    font-size: 10px;
  }

  .text-xs {
    font-size: 12px;
  }
  
  .text-sm {
    font-size: 14px;
  }

  .text-tiny {
    font-size: 15px;
  }
  
  .text-lg {
    font-size: 18px;
  }
  
  .text-center {
    text-align: center;
  }

  .h-10 {
    height: 2.5rem;
  }

  .h-19 {
    height: 4.75rem;
  }
  
  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .px-2-1_2 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .py-30 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
 
  .p-4 {
    padding: 1rem;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }

  .mb-4 {
    margin-bottom: 1rem;
  }

  .mt-4 {
    margin-top: 1rem;
  }
  
  .my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .w-8 {
    width: 2rem;
  }

  .w-12 {
    width: 3rem;
  }

  .w-40 {
    width: 10rem;
  }

  .w-44 {
    width: 11rem;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .bg-grey, .selected {
    background-color: #EFEFEF;
  }

  .bg-primary {
    background-color: $primary
  }

  .bg-secondary {
    background-color: $secondary
  }
  
  .text-grey {
    color: #888;
  }

  .text-white {
    color: #fff;
  }

  ul.list-disc {
    padding-left: 1.5rem;
    line-height: 1.3;
    li {
      list-style-type: disc;
    }
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    background: #ccc;
    outline: none;
    height: 6px;
    box-shadow: $shadow;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: $primary;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: $shadow;
  }
  
  .shadow {
    box-shadow: $shadow;
  }

  .hide {
    display: none !important;
  }

  #graph-container, #chart-container {
    animation: sc_fadein 1s ease-in-out;
  }
  
  #chart-container {
    display: flex;
    gap: 1rem;

    @media (max-width: 26rem) {
      flex-wrap: wrap;
    }
  }
  
  .loader {
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid $primary;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: sc_spin 2s linear infinite;
  }

  &_flex_field {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > :nth-child(1) {
      flex-shrink: 0;
    }

    > :nth-child(2) { 
      border: $border;
      border-radius: $radius;
      overflow: hidden;
    }

    @media (max-width: 25rem) {
      flex-wrap: wrap;
    }
  }

  &_flex {
    display: flex;
    
    &.flex-col {
      flex-direction: column;
    }

    &.items-center {
      align-items: center;
    }

    &.justify-between {
      justify-content: space-between;
    }

    &.justify-center {
      justify-content: center;
    }

    &.gap-1 {
      gap: 0.25rem;
    }

    &.gap-4 {
      gap: 1rem;
    }

    &.gap-6 {
      gap: 1.5rem;
    }

    & > .flex-shrink-0 {
      flex-shrink: 0;
    }
  }

  @keyframes sc_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes sc_fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}
